.football, .basketball, .volleyball{
    display:inline-block;
    width: 30em;
    height: 20em;
    border: 1px solid rgb(211, 162, 28);
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    text-decoration: none;
}
a.football{
    background-image: url("footballcourt.jpg");
}
a.basketball{
    background-image: url("basketball-court.png");
}
a.volleyball{
    background-image: url("3d-volleyball-court.png");
}
.fb{
    color: rgb(211, 162, 28);
}
body{
    background-color: #333;
}
.figs{
    text-align: center;
}
header {
    background-color: #333 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

li a{
    text-decoration: none;
}

.menu li{
    padding: 10px;
    float: right;
    display: inline;
}

li a:visited{
    color:  rgb(211, 162, 28);
}

.menu li:hover {
    background-color: #111;
}
.fcap{
    border-left: solid 6px rgb(211, 162, 28);
    background-color: white;
    width: 30em;
    color: rgb(0, 0, 0);
}
